<div class="list">

    <app-menu></app-menu>
  
    <div class="container">
  
      <div class="row">
  
        <aside class="col-sm-4">
          <h1>Student list</h1>
  
  
          <div class="card">
            <header class="card-header">
              <button type="button" class="btn btn-lg btn-info btn-block collapsed" data-toggle="collapse"
                data-target="#collapse1" >Teacher I</button>
            </header>
            <div class="collapse " id="collapse1">
              <article class="card-body">
  
                <article class="list-group-item">
                  <header class="filter-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse11">
                      <i class="icon-action fa fa-chevron-down"></i>
                      <h6 class="title">Nata Hanguga</h6>
                    </a>
                  </header>
                  <div class="filter-content collapse" id="collapse11">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt deserunt mollit anim id est laborum. </p>
                  </div>
                </article>
  
                <article class="list-group-item">
                  <header class="filter-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse12">
                      <i class="icon-action fa fa-chevron-down"></i>
                      <h6 class="title">Nikolay Gumenyuk </h6>
                    </a>
                  </header>
                  <div class="filter-content collapse" id="collapse12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt deserunt mollit anim id est laborum. </p>
                  </div>
                </article>
  
              </article>
              <!-- card-body.// -->
            </div>
            <!-- collapse .// -->
          </div>
          <!-- card.// -->
  
  
          <div class="card">
            <header class="card-header">
                <button type="button" class="btn btn-lg btn-info btn-block collapsed" data-toggle="collapse"
                data-target="#collapse2">Teacher I</button>
            </header>
            <div class="collapse" id="collapse2">
              <article class="card-body">
  
                <article class="list-group-item">
                  <header class="filter-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse21">
                      <i class="icon-action fa fa-chevron-down"></i>
                      <h6 class="title">Second heading </h6>
                    </a>
                  </header>
                  <div class="filter-content collapse" id="collapse21">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt deserunt mollit anim id est laborum. </p>
                  </div>
                </article>
  
                <article class="list-group-item">
                  <header class="filter-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse22">
                      <i class="icon-action fa fa-chevron-down"></i>
                      <h6 class="title">Second heading </h6>
                    </a>
                  </header>
                  <div class="filter-content collapse" id="collapse22">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                      tempor incididunt deserunt mollit anim id est laborum. </p>
                  </div>
                </article>
  
              </article>
              <!-- card-body.// -->
            </div>
            <!-- collapse .// -->
          </div>
          <!-- card.// -->
  
        </aside> <!-- col.// -->
  
      </div>
      <!-- row.// -->
  
    </div>
    <!--container end.//-->
  
  </div>
  